body {
    margin: 0;
    font-family: sans-serif;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    transition: background-color .4s;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-family: cursive;
}

.navbar ul li a:hover {
    color: red;
}

.navbar.active {
    background-color: black;
}

.navbar.active ul li a {
    color: white;
}

.navbar.active ul li a:hover {
    color: red;
}

.top-container {
    background-image: url("https://images.unsplash.com/photo-1610465299996-30f240ac2b1c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTE1fHxjb21wdXRlcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=500");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.top-container h1 {
    font-size: 50px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.bottom-container .text {
    margin: 50px 5%;
}

@media (max-width: 500px) {
    .navbar ul {
        flex-direction: column;
        gap: 10px;
    }
}